<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a user</title>
    <link rel="stylesheet" href="../public/css/styles.css" />
</head>

<body>

    <div class="topnav">

        <a href="/">Home</a>
        <a href="/create">create user </a>
        <a class="/update" href="/update">create user </a>




    </div>




    <div class="formthemmoi">
        <form action="/update-user" method="POST">
            <fieldset>
                <legend>form add new user </legend>

                <div class="input-group d-none">
                    <label> ID </label>
                    <input type="text" name="userID" value="<%= useredit.id %>" />
                </div>
                <div class="input-group">
                    <label> email </label>
                    <input type="text" name="email" value="<%= useredit.email %>" />
                </div>
                <div class="input-group">
                    <label> myname </label>
                    <input type="text" name="myname" value="<%= useredit.name %>" />
                </div>
                <div class="input-group">
                    <label> city </label>
                    <input type="text" name="city" value="<%= useredit.city %>" />
                </div>
                <div class="btsvadduse">
                    <button> save</button>
                </div>
            </fieldset>
        </form>
    </div>

</body>

</html>