<html lang="en">

<>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css" />
    </head>

    <body>
        HELLO WWORD WWITH EJS
        <div>
            <img class="vanphuc" src="/imagine/art1.jpg" />
        </div>
    </body>

</html>