.vanphuc {
    width: 500px;
}

* {
    margin: 0;
    padding: 0;
}


* Add a black background color to the top navigation */ .topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #0f0d0d;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #2a317c;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: rgb(13, 9, 29);
}

.formthemmoi {
    width: 500px;
    margin: 0;
    padding-top: 100px;
    padding-left: 500px;
}

.input-group {
    padding: 5px;
}

.btsvadduse {
    cursor: pointer;
    margin: 10px;


}

button {
    cursor: pointer;
}

.d-none {
    display: none;
}